@page "/EditCountry/{CountryId}"

@inject ICountry countryService
@inject NavigationManager navigationManager

<h3>Edit Country</h3>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <input for="Name" class="form-control" @bind="@obj.CountryId"/>
            </div>
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input for="Name" class="form-control" @bind="@obj.Name" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@UpdateCountry" value="Update" />
                <input type="button" class="btn btn-secondary" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>

@code {
    [Parameter]
    public string CountryId { get; set; }

    Country obj = new Country();

    protected override async Task OnInitializedAsync()
    {
        obj = await Task.Run(() => countryService.GetCountry(Convert.ToInt32(CountryId)));
    }

    protected async void UpdateCountry()
    {
        obj.Modification = DateTime.Now;
        await countryService.UpdateCountry(obj);
        navigationManager.NavigateTo("countries");
    }

    void Cancel()
    {
        navigationManager.NavigateTo("countries");
    }
}
